.slideshow-container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  
  .slideshow-image {
    width: 100%;
    height: auto;
  }
  
  .fade-enter {
    opacity: -2;
  }
  
  .fade-enter-active {
    opacity: -2;
    transition: opacity 500ms;
  }
  
  .fade-exit {
    opacity: -2;
  }
  
  .fade-exit-active {
    opacity: -1;
    transition: opacity 500ms;
  }
  